extends layout

block content
  include sorting-view
  .row.proba
    for item in context
      .col-md-3.col-sm-6.hero-feature.hvr-bob
        .thumbnail
            if item.files
                if item.files[0]
                    img(src='/' + item.files[0].path, alt='')
                else
                    img(src='https://ofertini.com/imgdata/336/kasno-lyato-kushadasa-turciya-noshtuvki-baza-426920.png')
            else
                img(src='https://ofertini.com/imgdata/336/kasno-lyato-kushadasa-turciya-noshtuvki-baza-426920.png')
            .caption
                h3= item.destination
                p Град:
                    =item.city
                p Цена:
                    =item.price
                p
                  a.btn.btn-success.buy(href='#/',type='button', data-id=item._id) Купи
                  a.btn.btn-primary(href="/" + item.id) Информация
                .ratings
                    p.pull-right 15 reviews
                    p.star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star


                



                