extends layout

block content
    .row
        for item in context
            .col-sm-4
                .panel.panel-primary
                    .panel-heading= item.destination 
                    .panel-body
                     img.img-responsive(src='https://placehold.it/150x80?text=IMAGE', style='width:100%', alt='Image')
                    .panel-footer
                        
                        p Price: 
                            =item.price
                        li
                            a(href="/" + item.id) Информация
                



                