extends layout

block content
    link(rel='stylesheet', href = '/static/css/chat-view.css')
    .container
        .row.form-group
            .col-xs-12.col-md-offset-2.col-md-8.col-lg-8.col-lg-offset-2
                .panel.panel-primary
                    .panel-heading.text-center Чат
                    div(.panel-body.body- id='container')
                        ul(class="chat" id="messages")
                    .panel-footer.clearfix
                        small(class="pull-right text-muted" id="typing")
                        textarea(class="form-control" rows="3" id="message")
                        span(class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12" style="margin-top: 10px")
                            button(class="btn btn-primary btn-block" id="btn-chat") Изпращане
