extends layout

block content
    != messages()
    .col-md-5.col-md-offset-3
        .panel.panel-primary
            .panel-heading.text-center Create Offer
            .panel-body
                form(action="/createOffer" method="POST" enctype="multipart/form-data")
                    .form-group
                        label(for='destination') Дестинация
                        select#sel1.form-control(name='destination')
                            option(selected='', disabled='') Моля изберете
                            option Море
                            option Планина
                            option Екскурзия
                            option СПА
                    .form-group
                        label(class="control-label" for="city") Град
                        input(id="city" name="city" class="form-control" type="text")
                    .form-group
                        label(class="control-label" for="validity") Валидност
                        input(id="validity" name="validity" class="form-control" type="text")
                    .form-group
                        label(class="control-label" for="price") Цена на човек/ден
                        input(id="price" name="price" class="form-control" type="text")
                    .form-group
                        label(for="exampleInputFile") Upload images (Note: You can upload only 3 images for an offer)
                        input(type="file" name="image" id="file" class="form-control" multiple="multiple")
                        div(id="imgContainer" class="col-sm-12")
                    .form-group
                        button(id="btnRegister" type="submit" class="btn btn-primary btn-block") Create

    script(src='/static/js/show-image.js')