extends layout

block content
    != messages()
    .col-md-5.col-md-offset-3
        .panel.panel-primary
            .panel-heading.text-center Промени офертата
            .panel-body
                form(action="/edit/" + context._id method="POST"  enctype="multipart/form-data")
                    .form-group
                        label(for='destination') Дестинация
                        select#sel1.form-control(name='destination')
                            option(selected='', disabled='') Моля изберете
                            option Море
                            option Планина
                            option Екскурзия
                            option СПА
                    .form-group
                        label(class="control-label" for="city") Град
                        input(id="city" name="city" class="form-control" type="text" value=context.city)
                    .form-group
                        label(class="control-label" for="validity") Валидност
                        div(class='input-group date' id='datetimepicker2')
                            input(type='text' id="validity" class="form-control" name="validity" value=context.validity)
                            span(class="input-group-addon")
                                span(class="glyphicon glyphicon-calendar")
                    .form-group
                        label(class="control-label" for="price") Цена на човек/ден
                        input(id="price" name="price" class="form-control" type="text" value=context.price)
                    .form-group
                        label(for="exampleInputFile") Снимки: (Забележка: Можете да качите до 3 снимки за оферта!)
                        input(type="file" name="image" id="file" class="form-control" multiple="multiple")
                        div(id="imgContainer" class="col-sm-12")
                    .form-group
                        button(id="btnRegister" type="submit" class="btn btn-primary btn-block") Запази промените
    script(src='/static/js/show-image.js')