doctype html
html(lang='en')
  head
    title Offers
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css")
    link(rel='stylesheet', href = '/static/css/style.css')
    link(rel='stylesheet', href = '/static/css/rating.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

    script(src='/socket.io/socket.io.js')
    script(src='/static/js/sockets.js')

  body
    button#myBtn(title='Go to top') Върни се горе!
    .jumbotron
      .container.text-center
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(rel='home', href='#', title='Buy Sell Everyting')
            img(style='max-width:110px; margin-top: -27px;', src='/static/images/logo2.png')

        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.hvr-float-shadow
              a(href='/') Всички оферти
            li.hvr-float-shadow
              a(href='/sea') Море
            li.hvr-float-shadow
              a(href='/mountain') Планина
            li.hvr-float-shadow
              a(href='/spa') Спа
            li.hvr-float-shadow
              a(href='/excursion') Екскурзия

          form.navbar-form.navbar-right(id="search" role='search' action='/search' method='GET')
            .form-group.input-group
             input.form-control(type='text' name = 'city' placeholder='Търси...')
             span.input-group-btn
              button.btn.btn-default(type='submit')
                span.glyphicon.glyphicon-search
          ul.nav.navbar-nav.navbar-right
            li
                a(href='/shoppingCart')
                  span.glyphicon.glyphicon-shopping-cart
                  |  
                  span.badge
                    if session.cart
                      =session.cart.totalQty
            if !user
              li.hvr-float-shadow
                a(href='/login') Влез
              li.hvr-float-shadow
                a(href='/register') Регистрация
            if user
              li.hvr-float-shadow
                a(href='/profile')
                  span.glyphicon.glyphicon-user
                  |  Профил
              li.hvr-float-shadow
                a(href='/createOffer') Създай Оферта
              li.hvr-float-shadow
                a(href='/chat') Чат
              li.hvr-float-shadow
                a(href='/logout') Излез
    .container.main
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content
    br
    footer
      .footerHeader
      .container
        .col-md-4
          h3 За нас
          p
            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        .col-md-4
          h3 Адрес 
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.4945582939213!2d23.377300715228106!3d42.650874079168524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa86940322e46b%3A0x9dcf2a89d173b821!2sTelerik+Academy!5e0!3m2!1sen!2sbg!4v1500910709121", sytle='', frameborder='0', style='border:0', allowfullscreen='')
        .col-md-4
          h3 Контакти
          ul
            li Phone : 123 - 456 - 789
            li E-mail : info@comapyn.com
            li Fax : 123 - 456 - 789
          p
            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s

  script(src='/libs/handlebars/dist/handlebars.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js")
  script(src='/static/js/main.js')
  script(src='/static/js/ajax.js')    