doctype html
html(lang='en')
  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href = '/static/css/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

  body
    .jumbotron
      .container.text-center
        h1 Online Store
        p Mission, Vission & Values
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Logo
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/') Всички оферти
            li
              a(href='/see') Море
            li
              a(href='/mountain') Планина
            li
              a(href='/spa') Спа
            li
              a(href='/excursion') Екскурзия

          form.navbar-form.navbar-right(role='search')
            .form-group.input-group
             input.form-control(type='text', placeholder='Search..')
             span.input-group-btn
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-search
          ul.nav.navbar-nav.navbar-right
            if !user
              li
                a(href='/login') Влез
              li
                a(href='/register') Регистрация
            if user
              li
                a(href='/profile')
                  span.glyphicon.glyphicon-user
                  |  Профил
              li
                a(href='/createOffer') Създай Оферта
              li
                a(href='/logout') Излез
    .container
      block content
