extends layout

block content
  .row
    .col-md-8
      #carousel-example-generic.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            if context.files 
                each offer, index in context.files
                    if index == 0
                        li.active(data-target='#carousel-example-generic', data-slide-to='0')
                    else 
                        li(data-target='#carousel-example-generic', data-slide-to=index)
            if context.files.length == 0
                li.active(data-target='#carousel-example-generic', data-slide-to='0')
        .carousel-inner
            if context.files
                each file, index in context.files
                    if index == 0
                        .item.active
                            img.img-responsive(src= '/' + file.path, alt='')
                    else 
                        .item
                            img.img-responsive(src='/' + file.path, alt='')
            if context.files.length == 0
                .item.active
                    img.img-responsive(src='https://ofertini.com/imgdata/336/kasno-lyato-kushadasa-turciya-noshtuvki-baza-426920.png', alt='')
        a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left
        a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
            span.glyphicon.glyphicon-chevron-right
    .col-md-4
        h3 Описание на офертата
        p
            | Тук ще стои информация и описание на офертата - бла бла бла бла бла бла бла бла бла.
        h3 Детайли на офертата
        ul
            li Град: 
                =context.city
            li Цена: 
                =context.price
            li Валидност на офертата/дни: 
                =context.validity
  br             
  .row
    .well#well-rate
        if context.comments.length > 0
            - context.comments.reverse();
            for item in context.comments
                .col-md-12
                    - let commentDate = new Date(item.date).toLocaleString();
                    - for (let j = 0; j < 5; j++)
                        if item.rate >= (j+1)
                            span.glyphicon.glyphicon-star
                        else
                            span.glyphicon.glyphicon-star-empty
                    span                             
                        =item.userName
                    span.pull-right
                        =commentDate
                    p 
                        =item.text
                    hr
        else
            p Все още няма коментари за тази оферта!
    .well
      .text-right
        a.btn.btn-success#btn-add-message Оцени офертата
      .row
        div.hidden#message-form
            form(action="/rate/" + context._id method="POST"  enctype="multipart/form-data")
                .form-group
                    textarea(class="form-control" rows="6" name="message" placeholder="Добавете коментар ..." required)
                .form-group
                    p Оценка: 
                        span(class="starRating")
                            input(id="rating5" type="radio" name="rating" value="5")
                            label(for='rating5') 5:
                            input(id="rating4" type="radio" name="rating" value="4")
                            label(for='rating4') 4:
                            input(id="rating3" type="radio" name="rating" value="3")
                            label(for='rating3') 3:
                            input(id="rating2" type="radio" name="rating" value="2")
                            label(for='rating2') 2:
                            input(id="rating1" type="radio" name="rating" value="1")
                            label(for='rating1') 1:
                .form-group
                    button.btn.btn-danger.center-block(id="message-send") Изпрати оценка
