extends layout

block content

    h1 Моите обяви
     .row.text-center
       for item in context
        .col-md-3.col-sm-6.hero-feature
          .thumbnail
                img(src='http://placehold.it/800x500', alt='')
                .caption
                    h3= item.destination
                    p Град:
                        =item.city
                    p Цена:
                        =item.price
                    p
                      a.btn.btn-danger(href='#') Edit
                      a.btn.btn-danger(href='#') Delete
                      a.btn.btn-primary(href="/" + item.id) More Info
                



                