extends layout

block content
    .col-md-5.col-md-offset-3
        .panel.panel-success
            .panel-heading.text-center Register form
            .panel-body
                form(action="/register" method="post")
                    .form-group
                        label(class="control-label" for="firstName") First name:
                        input(id="firstName" name="firstName" class="form-control" type="text")
                    .form-group
                        label(class="control-label" for="lastName") Last name:
                        input(id="lastName" name="lastName" class="form-control" type="text")
                    .form-group
                        label(class="control-label" for="registerUser") Username:
                        input(id="registerUser" name="username" class="form-control" type="text")
                    .form-group
                        label(class="control-label" for="email") Email:
                        input(id="emailr" name="email" class="form-control" type="text")
                    .form-group
                    label(class="control-label" for="phoneNumber") Phone number:
                    input(id="phoneNumber" name="phoneNumber" class="form-control" type="text")
                    .form-group
                    label(class="control-label" for="country") Contry:
                    input(id="country" name="country" class="form-control" type="text")
                    .form-group
                    label(class="control-label" for="town") Town:
                    input(id="town" name="town" class="form-control" type="text")
                    .form-group
                        label(class="control-label" for="registerPassword") Password:
                        input(id="registerPassword" name="password" class="form-control" type="password")
                    .form-group
                        label(class="control-label" for="repeatPassword") Password confirmation:
                        input(id="repeatPassword" name="repeatPassword" class="form-control" type="password")
                    .form-group
                        button(id="btnRegister" type="submit" class="btn btn-success btn-block") Register
