extends layout

block content
    if products 
        .row
          .col-lg-6
            h1.page-header
                | Пазарска количка
          .col-lg-6
            h1.page-header Общо: 
                    =totalPrice 
                    | лв.
                    
        for product in products 
            .row           
                .col-md-7
                    if product.item.files
                        if product.item.files[0]
                            a(href='#')
                            img.img-responsive(src='/' + product.item.files[0].path, alt='')
                        else
                            a(href='#')
                            img.img-responsive(src='https://ofertini.com/imgdata/336/kasno-lyato-kushadasa-turciya-noshtuvki-baza-426920.png')
                    else
                        a(href='#')
                        img(src='https://ofertini.com/imgdata/336/kasno-lyato-kushadasa-turciya-noshtuvki-baza-426920.png')
                .col-md-5
                    h3 
                        =product.item.destination
                    h4 Град: 
                        =product.item.city
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.                   
                    h4 Количество: 
                        =product.qty
                    h4 Цена: 
                        =product.price    
                    .input-group.minusPlus
                      span.input-group-btn
                        a.btn.btn-danger(href='/reduce/' + product.item.id)
                            span.glyphicon.glyphicon-minus
                      input.form-control.input-number(type='text', value=product.qty, min='1', max='100')
                      span.input-group-btn
                        a.btn.btn-success(href='/addToCart/' + product.item.id)
                            span.glyphicon.glyphicon-plus
                    br
                    a.btn.btn-danger(href='/remove/' + product.item.id) Изтрий! 

            hr
    else
        H1.text-center Количката е празна