extends layout

block content
    if products 
        .row
          .col-lg-6
            h1.page-header
                | Пазарска количка
          .col-lg-6
            h1.page-header Общо: 
                    =totalPrice 
                    | лв.
                    
        for product in products 
            .row           
                .col-md-7
                    a(href='#')
                        img.img-responsive(src='http://placehold.it/700x300', alt='')
                .col-md-5
                    h3 
                        =product.item.destination
                    h4 Град: 
                        =product.item.city
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.                   
                    h4 Количество: 
                        =product.qty
                    h4 Цена: 
                        =product.price
            hr
    else
        H1.text-center Количката е празна