.row
  form.form-inline.text-right(id="sort" action='/sort' method='GET')
    .form-group
      label(for='sel1') Сортирай по:
      | 
      select#sel1.form-control(name='sorting')
        option(value='price') Цена
        option(value='date') Дата
    .form-group
      select#sel2.form-control(name='order')
        option(value='ASC') Низходящо
        option(value='DESC') Възходящо
    button.btn.btn-default(type='submit' value='Filter') Филтрирай
br