
section#viewSearch.container.text-center
        button#sortByDate-New.btn.btn-default.hvr-icon-up(type='button')
          | New
        button#sortByDate-Old.btn.btn-default.hvr-icon-down(type='button')
          | Old
        button#sortByPrice-High.btn.btn-default.hvr-icon-up(type='button')
          | Price
        button#sortByPrice-Low.btn.btn-default.hvr-icon-down(type='button')
          | Price
br