
section#viewSearch.container.text-center(method="get")
        button#sortByDate-New.btn.btn-default.hvr-icon-up(type='submit', name='dateNew')
          | Дата
        button#sortByDate-Old.btn.btn-default.hvr-icon-down(type='submit', name='dateOld')
          | Дата
        button#sortByPrice-High.btn.btn-default.hvr-icon-up(type='submit', name='priceHight')
          | Цена  
        button#sortByPrice-Low.btn.btn-default.hvr-icon-down(type='submit', name='priceLow')
          | Цена
br