.row
  .form-inline.text-right(id="sort")
    .form-group
      label(for='sel1') Сортирай по:
      | 
      select#sel1.form-control.sorting(name='sorting')
        option(value='price') Цена
        option(value='date') Дата
    .form-group
      select#sel2.form-control.order(name='order')
        option(value='ASC') Низходящо
        option(value='DESC') Възходящо
    button.btn.btn-default(id='filter' type='submit') Филтрирай
br